/* ==========================================================================
   Home page hero
   ==========================================================================*/

.hero {
  align-items: center;
  background: center no-repeat url("/assets/img/hero-truck.jpg");
  background-size: cover;
  color: white;
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
  margin-top: 106px;
  min-height: 60vh;
  padding: 3.2rem 10% 0;
  text-align: center;
  text-shadow: 0 0 4px black;
}

.hero p {
  margin-bottom: 2rem;
}

.hero__h {
  color: var(--yellow);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
