/* ==========================================================================
   Footer
   ========================================================================== */

.footer__wrapper {
  display: flex;
}

.footer__address {
  padding-right: 4rem;
  width: 40%;
}

.footer__address img {
  display: block;
  margin-bottom: 1.7rem;
}

.footer__phone {
  width: 30%;
}

.footer h3 {
  margin-bottom: 1rem;
}

.footer__social {
  width: 30%;
}

.footer__social a:hover {
  opacity: 0.8;
}

.footer__social ol {
  margin: 1rem 0;
}

.footer__social li {
  margin-right: 0.5rem;
}

.footer {
  padding-bottom: 3rem;
}
