/* ==========================================================================
   Content
   ==========================================================================*/

/**
 * Basic centred, max-width layout
 */

.o-content {
  margin: 0 auto;
  max-width: 900px;
  width: 90%;
}
